[Unit]
Description=SRE Tooling NiFi flow bulletin monitoring timer

[Timer]
OnBootSec={{ sre_tooling_monitor_nifi_fb_ingest_systemd_on_boot_sec }}
OnActiveSec={{ sre_tooling_monitor_nifi_fb_ingest_systemd_on_active_sec }}
RandomizedDelaySec={{ sre_tooling_monitor_nifi_fb_ingest_systemd_rand_sec }}
Persistent=true

[Install]
WantedBy=timers.target