[Unit]
Description=SRE Tooling infrastructure index update timer

[Timer]
OnCalendar={{ sre_tooling_infra_update_systemd_on_calendar }}
RandomizedDelaySec={{ sre_tooling_infra_update_systemd_rand_sec }}
Persistent=true

[Install]
WantedBy=timers.target
